@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  --regular-font: 'Barlow';
  --font-colour-header: #FFFFFF;
  --input-primary: #2E2E2E;
  --input-secondary: #FFDE56;
  --custom-background: #FAF9F6;
  --bslib-spacer: 0; /* Removes the weird padding around entire page */
}

/*  Text Tag Options  --------------------------------------------------------*/

h1, .h1 {
  font-family: var(--regular-font);
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-botton: 0.2rem !important;
}

h2, .h2 {
  margin: 0;
  font-family: var(--regular-font);
  font-size: clamp(16px, 1vw, 20px);
  font-weight: 400;
}

h3, .h3 {
  margin: 0;
  font-family: var(--regular-font);
  font-size: clamp(12px, 1vw, 20px);
  font-weight: 400;
}

b, strong {
  font-weight: 500;
}

/*----------------------------------------------------------------------------*/






/* Navigation Bar ----------------------------------------------------------- */

/* This is a slight border above the main page */
.bslib-page-navbar>.navbar+div, .bslib-page-dashboard>.navbar+div {
  border: none !important;
}

/* Makes sure the navbar stays in the same spot */
.navbar {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Specifying the font styling for the nav bar */
.navbar.navbar-default > .container-fluid {
  font-family: var(--regular-font);
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.1rem;
  gap: 1em;
}

/* Brand is simply the dashboard title */
.navbar-brand {
  color: var(--input-primary);
  font-size: 2rem;
}

/* This formats the font for the navigation links */
.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
  color: grey;
}

/* If the links are active or hovered over, the text and background colors change */
.nav-link.active {
  color: var(--input-primary) !important;
  background-color: var(--input-secondary) !important;
}

.navbar-brand:hover {
  color: var(--input-primary) !important; /* Disabling the hover effect */
}

.nav-link:hover {
  color: var(--input-secondary) !important;
}

.nav-link.active:hover {
  color: var(--input-primary) !important;
}

/* Overriding bslib's endless web of padding variables */
.nav-underline .nav-link {
    padding: 10px !important;
    border: 0 !important;
    margin: 0 !important;
    font-weight: 400 !important;
}

/* -------------------------------------------------------------------------- */






/* Header Options ----------------------------------------------------------- */

.header-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--input-primary);
  margin: 0;
  padding: 5px 10px;
}

.cancer-menu {
  display: flex;
  flex-direction: row;
}

/* Ensures the page heading is centered */
.cancer-menu, .gender-measure {
  width: 40%;
}

/* Targets both the parent divs of the menu and radio options */
.form-group.shiny-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5em;
  margin: 0;
}

/* Labels for inputs (dropdown and radio) */
.control-label {
  font-size: 1.2rem;
  margin-bottom: 0 !important;
  color: var(--font-colour-header);
}

/* Cancer Type Dropdown Menu */
.selectize-input.focus {
  border-color: var(--input-secondary);
  box-shadow: none;
}

.selectize-dropdown .selected {
  background-color: var(--input-secondary);
  color: var(--input-primary);
}

/* This is the starting width of the cancer menu */
.form-group.shiny-input-container > div {
  width: 50%;
}

*[id$="-report"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--input-primary);
  color: var(--input-secondary);
  border-color: var(--input-secondary);
  margin-right: 0.5em;
  gap: 10px;
  width: 100px;
}

.shiny-download-link:hover {
  background-color: var(--input-secondary);
  color: var(--input-primary);
  border-color: var(--input-secondary);
}

/* Radio Button Options */
.gender-measure {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

.btn {
  --bs-btn-padding-x: 0.6em;
  --bs-btn-padding-y: 0.4em;
}

/* Explicitly setting the color of each component for themes later */
.btn-outline-primary {
  color: var(--input-primary);
  background-color: white;
  border-color: var(--input-secondary);
}

.btn-check:checked+.btn {
  color: var(--input-primary);
  background-color: var(--input-secondary);
  border-color: var(--input-secondary);
}

.btn-check+.btn:hover {
  color: var(--input-secondary);
  background-color: transparent;
  border-color: var(--input-secondary);
}

/* -------------------------------------------------------------------------- */






/* Summary Card ------------------------------------------------------------- */

.summary-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  gap: 2rem;
}



/* Summary Title */
.summary-title {
  flex 0 1 auto;
  padding-top: 1.2rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summary h1 {
  font-size: 1.4rem;
  text-align: right;
  text-transform: none;
}

.summary span {
  font-size: 1.2rem;
  font-style: italic;
  text-align: right;
}



/* Summary Content */
.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  min-width: 0;
  background-color: var(--custom-background);
  border-radius: 16px;
  padding: 0rem 0rem 1rem 1rem;
}

.content-row {
  font-size: clamp(30px, 1vw + 1.7vh, 40px);
  font-weight: 300;
}




/* Lifetime Risk */
.lifetime-risk {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  flex: 0 1 300px;
  padding: 1rem;
  border: 2px solid var(--custom-background);
  border-radius: 16px;
  gap: 1.5rem;
}

.ltr-vis {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ltr-matrix {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ltr-text {
  font-size: clamp(30px, 1.9vw, 36px);
  font-weight: 300;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 1rem;
}

.ltr-info {
  font-size: 0.8rem;
}

.ltr-stat {
  font-weight: 500;
}

/* -------------------------------------------------------------------------- */






/* Content Grid ------------------------------------------------------------- */

/* Globally sets the regular font to use for all elements */
.container-fluid {
  font-family: var(--regular-font);
}

.card.bslib-card {
  margin: 1.5rem;
  box-shadow: none;
}



/* Card headers: Header > Custom > Bracket */
.card-header {
  font-weight: 500 !important;
  font-size: max(0.9vw, 12px) !important;
  letter-spacing: 0.03em;
  color: var(--input-color);
  padding: 0.5rem 0.1rem;
  border-width: 2px;
  border-color: var(--input-color);

}

.custom-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-bracket {
  display: flex;
  gap: 0.5em;
  font-weight: 400;
  font-style: italic;
}

.info_tooltip > .tooltip-inner {
  font-family: 'Barlow';
  color: var(--input-secondary);
  background-color: rgb(46, 46, 46);
}

/* Ultra-wide Monitor Layout (not longer necessary) */

/*
@media (min-aspect-ratio: 12/5) {
  .bslib-grid.grid {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }

  .bslib-grid-item {
    flex: 0 0 100%;
    height: 100%;
  }
}
*/

/* -------------------------------------------------------------------------- */






/* Survival Page ------------------------------------------------------------- */

.survival-left-column {
  padding: 2rem 1rem;
}

.ranks {
  padding: 1rem;
}

.ranks-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.hline {
  background: #000000;
  height: 1px;
  width: 60%;
  justify-self: center;
  margin: 1rem;
}

.survival-summary {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.survival-title {
  display: flex;
  flex-direction: column;
}

.individual-rank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
}

.individual-rank span:nth-child(2) {
  font-weight: 600;
}

.rsurv-vis {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
}

.rsurv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--input-primary);
}

.survival-stat {
  font-size: clamp(30px, 3vw, 48px);
}

.rsurv-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

/* -------------------------------------------------------------------------- */






/* Methods ------------------------------------------------------------------ */

.methods-panel {
  align-self: start;
  line-height: 2rem;
  width: 40%;
  max-width: 100%;
  margin-top: 4rem !important;
  padding: 2rem !important;
}

.methods-panel h1 {
  text-align: start;
  margin-bottom: 4rem;
}

.methods-panel h2 {
  font-weight: 500;
  margin: 2rem 0rem 1rem 0rem;
}



/* Fade-in animation for methods content */
.methods-panel > * {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Media Queries (METHODS PAGE ONLY) */
@media (max-width: 1300px) {

    /* Methods Page */
  .methods-panel {
    width: 60%;
  }

}

@media (max-width: 800px) {

  .methods-panel {
    width: 80%;
  }

}

@media (max-width: 500px) {

  .methods-panel {
    width: 100%;
  }

  p .MathJax_Display {
    display: none !important;
  }

}


/* --------------------------------- */

/* Fade-in animation for background colour (not implemented) */
/*
body.methods-active {
  background-color: #FFFFFF !important;
  transition: background-color 0.5s ease-in-out;
}

body.methods-active nav.navbar.navbar-default {
  background-color: #FFFFFF !important;
  transition: background-color 0.5s ease-in-out;
}
*/

/* ----------------------------------------------------------------^^ METHODS */






/* MEDIA QUERIES (ordered by breakpoints) ----------------------------------- */

/* 1600px width breakpoint -------- */
/* Removes the Summary Title div and flexes the lifetime-risk div */

@media (max-width: 1600px) {

  .summary-title {
    display: none !important;
  }

  .lifetime-risk {
    flex: 1 !important;
  }
}

/* 1300px width breakpoint -------- */
/* Starts the space saving for the Header sections by removing labels */

@media (max-width: 1300px) {

  /* Header Section */
  .gender-measure {
    gap: 0rem;
  }

  .control-label {
    display: none;
  }

  .form-group.shiny-input-container > div {
    width: 70% !important;
  }

}

/* 1111px width breakpoint -------- */
/* Ensuring the lifetime risk visualisation and information is readable */

@media (max-width: 1111px), (max-height: 600px) {

  .lifetime-risk {
    padding: 0 !important;
    border: none !important;
    gap: 1rem !important;
  }

  .ltr-vis {
    display: none !important;
  }

}

/* 991px width breakpoint -------- */
/* Resizes the dashboard title once the `navbar` becomes a menu */

@media (max-width: 991px) {

  .navbar-brand {
    font-size: max(2.5vw, 24px) !important;
  }

}

/* 946px width breakpoint -------- */
/* Reduces spacing as screen size decreases */

@media (max-width: 946px), (max-height: 600px) {

  /* Text Sizes */
  h1 {
    font-size: 2em;
    margin: 0;
  }

  /* Header Section */
  .btn {
    padding: 0.3rem 0.5rem !important;
  }

  /* Content Section */
  .card-body {
    padding: 0;
  }

  .card.bslib-card {
    margin: 1rem !important;
  }

  .summary-container {
    gap: 1rem;
  }

  .summary-content {
    padding: 0rem 0rem 1rem 0.5rem;
  }

}

/* 868px width breakpoint -------- */
/* Adjusting the spacing as the header starts to wrap elements */

@media (max-width: 868px), (max-height: 600px) {

  /* Header Section */
  .gender-measure {
    gap: 5px;
  }

  /* Content Section */
  .card-header {
    border-width: 1px !important;
    padding: 0.2rem 0.1rem !important;
  }

}

/* 770px width breakpoint -------- */
/* Breakpoint where the grid goes from 2x2 to 4x1 */

@media (max-width: 770px) {

  /* Header Section */
  .header-options {
    padding: 5px;
    position: sticky;
    top: 46px;
    z-index: 1;
  }

  .cancer-menu, .gender-measure {
    gap: 5px;
    width: 100%;
  }

  /* Content Section */
  .bslib-page-fill {
    height: auto !important;
  }

  .bslib-grid.grid {
    grid-template-columns: 1fr !important;
    height: unset !important;
  }

  .html-fill-container > .html-fill-item {
    min-height: auto;
  }

}

/* 700px width breakpoint -------- */
/* Breakpoint for when the header completely wraps */

@media (max-width: 700px) {

  /* Text Sizes */
  h1, .h1 {
    text-align: left !important;
    margin: 0;
  }

  /* Header Section */
  .header-options {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 5px !important;
  }

  .header-options div:first-child {
    order: 2;
  }

  .gender-measure {
    justify-content: flex-start !important;
  }

  .form-group.shiny-input-container {
    gap: 0 !important;
  }

}

/* 470px width breakpoint -------- */
/* Final breakpoint, adjusts the summary panel to read better at the smallest screen size */

@media (max-width: 470px) {

  .summary-container {
    flex-direction: column;
  }

  .lifetime-risk {
    padding: 0rem 0rem 1rem 1rem !important;
  }

}

/* -------------------------------------------------------------------------- */






/* Plotly Styling ----------------------------------------------------------- */

text.xtitle, text.ytitle, g.xtick > text, g.ytick > text, g.traces > text, g.scrollbox > text {
  font-family: var(--regular-font) !important;
  font-size: clamp(12px, 1vw, 14px) !important;
}

text.xtitle, text.ytitle {
  font-weight: 500 !important;
}

/* -------------------------------------------------------------------------- */
