@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');


/*  Widget Background --------------------------------------------------------*/

.bslib-page-fill {
  padding: 2.7rem 2.7rem !important;
}

html, body {
  background: none !important;
}

body::before {
  content: "";
  background-color: white;
  background-image: url('daffodil.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: -1;
}

/*----------------------------------------------------------------------------*/



/*  Shiny Input Options --------------------------------------------------*/

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 330px;
}

.menu-inline .form-group.shiny-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.menu-inline .form-group.shiny-input-container > div {
  width: 200px;
}

.checkbox-panel {
  width: 300px;
}

#threshold-div p {
  background-color: #FAF9F6;
  font-size: 0.8rem;
  letter-spacing: 0.03em;
  line-height: 2;
  color: #B50000;
  padding: 1rem;
  border-radius: 8px;
  width: 330px;
}

/* general font for all shiny inputs (menus/checkboxes etc.) */
.form-group.shiny-input-container {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 0.9rem;
}

/* choosing variables related to sex */
.cond-panels {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  height: 60vh;
}

/*----------------------------------------------------------------------------*/



/*  Text Tag Options  --------------------------------------------------------*/

p {
  font-family: 'Barlow';
  font-weight: 400;
  margin: 0px;
}

h1, h2 {
  font-family: 'Oswald';
  font-weight: 400;
}

h3, h4, h5, h6 {
  font-family: 'Barlow';
  font-weight: 400;
}

h1 {font-size: 7rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.1rem;}
h6 {font-size: 1rem;}

/* Remove minor tickmarks from sliderInput */
.irs-grid-pol.small {
  height: 0px;
}

/*----------------------------------------------------------------------------*/



/*  Navigation-Pane Sizing  --------------------------------------------------*/

.tab-content {
  height: 80vh;
}

.tab-pane.active {
  height: 100%;
}

/*----------------------------------------------------------------------------*/



/*  Landing Page  ------------------------------------------------------------*/
.acronym-container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.acronym-title {
  font-size: 10rem;
  font-family: Oswald;
  letter-spacing: 0.3rem;
  margin-top: -9px;
  display: flex;
  align-items: center;
}

.acronym-words {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.acronym-words span {
  font-size: 1.8rem;
  display: flex;
  font-family: 'Barlow';
  font-weight: 400;
  align-items: center;
  letter-spacing: 0.5rem;
  margin-top: -6px;
}

.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: 85%;
}

.landing-body {
  width: 60%;
}

.landing-text {
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

/*  --------------------------------------------------------------------------*/



/*  Standard Pages -----------------------------------------------------------*/

.panel-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.panel-title {
  display: flex;
  flex-direction: column;
}

.panel-body-3, .cond-panel {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.select-div {
  width: 200px;
}

.upload-div, .menu-div {
  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
}

.content-panel {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 85%;
}


/*----------------------------------------------------------------------------*/



/*  Navigation-Bar + Button Options ------------------------------------------------*/

.nav_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 47px;
}

.btn-outline-default,
.btn-default:not(.btn-primary,.btn-secondary,.btn-file,.btn-info,.btn-success,.btn-danger,.btn-warning,.btn-light,.btn-dark,.btn-link,[class*='btn-outline-']) {
  --bs-btn-color: #FFDE59;
  --bs-btn-bg: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #FFDE59;
  --bs-btn-hover-border-color: #FFDE59;
  --bs-btn-focus-shadow-rgb: 64, 64, 64;
  --bs-btn-active-color: #FFDE59;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #404040;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #404040;
  --bs-gradient: none;
  --bs-btn-padding-x: 3em;
  --bs-btn-padding-y: 0.65em;
  --bs-btn-border-radius: 25px;
}

/*
#clipbtn: visited {
  border-color: #bea540;
  background-color: #bea540;
}
*/

#clipbtn:focus, #understand:focus {
  color: black;
  border-color: #bea540;
  background-color: #bea540; /* Darker shade for active state */
  transform: scale(0.98); /* Slightly shrink the button */
}

#previous_page_div, #next_page_div {
  margin: 0px !important;
}

/*----------------------------------------------------------------------------*/



/*  Graveyard ----------------------------------------------------------------*/

/*.left-panel, .right-panel {
  flex: 5;
  /*height: 80vh;*/

/* delete
.full-panel {
  height: 80vh;
  width: 100% !important;
} */

/*
.tab-content > .active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
*/

/*----------------------------------------------------------------------------*/
